
@font-face {
  font-family: "font-1";
  src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

$font-1: "font-1", sans-serif;


.light-theme{
  --elements: rgb(252, 252, 252);
  --background: hsl(0, 0%, 93%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 98%);
  --elementsWhite: hsl(0, 0%, 100%);


  .light-mode-element{
    display: block;
  }

  .dark-mode-element{
    display: none;
  }
}

.dark-theme{
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 95%);
  --input: hsl(209, 23%, 22%);
  --elementsWhite: hsl(0, 0%, 100%);

  .light-mode-element{
    display: none;
  }

  .dark-mode-element{
    display: block;
  }
}

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text);
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}
body {
  overflow-x: hidden;
  background: var(--background);
  font-family: $font-1;
}

li {
  list-style-type: none;
}

.links{
  text-decoration: none;
}