header {
  width: 100vw;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.109);
  background-color: var(--elements);

  .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 40px auto;
    padding: 2rem 3rem;
    max-width: 1200px;
}

  .dark-light-theme{
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;

    img{
      width: 30px;
    }
  }
  h4 {
    cursor: pointer;
  }


}
