.card {
  border-radius: 4px;
  transition: 0.3s;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  border-radius:7px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.109);
  width: 250px;
  margin: auto;


  h2 {
    font-size: 1rem;
  }


  .details-card-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .infos {
    padding: 20px 20px 30px 20px;
    background-color:var(--elements);
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  img {
    height: 150px;
    width: 250px;
    object-fit: cover;
}
}
