.countries {
  padding: 20px;

  #countries-main {
    margin: auto;
    display: flex;
    gap: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .radio-container {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .div-selectors {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      #selector-region {
        border: none;
        padding: 14px;
        cursor: pointer;
        background-color: var(--input);
        font-size: 1rem;
      }

      #selector-sort {
        border: none;
        padding: 14px;
        cursor: pointer;
        background-color: var(--input);
        font-size: 1rem;
      }
    }

    input {
    }

    label {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  input[type="search"] {
    padding-left: 60px;
    padding-right: 30px;

    &:focus {
      background: var(--elements);
      border-radius: 4px;
      color: var(--text);
    }
  }
}

#search-country {
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.043);
  border-radius: 3px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 1rem;
}
.light-theme #search-country {
  background: url(../../public/assets/img/search.svg) no-repeat scroll 7px 7px,
    var(--input);
  background-size: 20px;
  background-position: 20px;
}

.dark-theme #search-country {
  background: url(../../public/assets/img/search-white.svg) no-repeat scroll 7px
      7px,
    var(--input);
  background-size: 20px;
  background-position: 20px;
}

@media screen and (min-width: 500px) {
  .countries {
    .div-selectors {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: row !important;
    }
  }
}

@media screen and (min-width: 940px) {
  .countries {
    .radio-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #search-country {
        width: 400px;
      }
    }
  }
}
